{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    {apps, [spg]}
]}.

% Turned off due to race conditions preventing PropEr tests + multiple peer nodes from starting correctly
%{cover_enabled, true}.
%{cover_opts, [verbose]}.
{ct_opts, [
    {ct_hooks, [cth_surefire]},
    {spec, "test/spg.spec"},
    {keep_logs, 1}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, {git, "https://github.com/proper-testing/proper.git", {branch, "master"}}}
        ]}
    ]}
]}.
