{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [spg]}
]}.

% Turned off due to race conditions preventing PropEr tests + multiple peer nodes from starting correctly
%{cover_enabled, true}.
%{cover_opts, [verbose]}.
{ct_opts, [{spec, "test/spg.spec"}]}.

% Release: need it for Docker node testing
{relx, [
    {release, {"spg", "1.0.0"}, [spg]},
    {include_erts, false},
    {extended_start_script, false}
]}.

{profiles,
    [{docker, [
        {relx, [
            {vm_args, "test/stateless_service_SUITE_data/vm.args"},
            {sys_config, "test/stateless_service_SUITE_data/sys.config"},
            {include_src, true},
            {dev_mode, false},
            {include_erts, true}
        ]}]},
    {test, [
        {deps, [
            %% newest from master
            {proper, {git, "https://github.com/proper-testing/proper.git", {branch, "master"}}},
            % erlperf: used to benchmark join/leave/get
            {erlperf, {git, "https://github.com/max-au/erlperf.git", {branch, "master"}}},
            % syn: Roberto Ostinelli claims it to be the fastest (working) solution,
            %   so it makes sense to benchmark against it too
            {syn, {git, "https://github.com/ostinelli/syn.git", {branch, "master"}}},
            % cpg, has race condition between scope process and join/leave initiator
            {cpg, {git, "https://github.com/okeuday/cpg", {branch, "master"}}}
        ]}
    ]}
]}.
