[
    %% Kernel/logger
    {kernel, [
        {inet_dist_listen_min, 4370},
        {inet_dist_listen_max, 4370},

        {logger_level,notice},

        {logger,[
            % console logger
            {handler, default, logger_std_h, #{}},
            %% disk logger
            {handler, disk_log, logger_std_h, #{config => #{file => "/tmp/spg"}, level => debug}}
        ]},
        % bootstrapping
        {bootstrap, [
            {stateless, "control", undefined, 4370, tcp},
            {control, undefined, {127, 0, 0, 1}, 4370, tcp}
        ]}
    ]}
].
